<div><h2 class="content-block">Produtos</h2></div>
<div class="dx-fieldset">
  <dx-button
    width="25%"
    id="button"
    text="Novo"
    type="normal"
    (onClick)="redirectCreate()"
    [useSubmitBehavior]="true"
  >
  </dx-button>
</div>
<dx-data-grid
  class="dx-card wide-card"
  [dataSource]="dataSource"
>
  <dxo-editing
    mode="form"
    [allowUpdating]="true"
    [allowAdding]="true"
    [allowDeleting]="true"
  >
  </dxo-editing>
  <dxi-column caption="ID" dataField="id"> </dxi-column>
  <dxi-column caption="Descrição" dataField="descricao"> </dxi-column>
  <dxi-column caption="Vr. Bruto" dataField="vrBruto"> </dxi-column>
  <dxi-column caption="Vr. Desc" dataField="vrDesc"> </dxi-column>
  <dxi-column caption="Vr. Líq" dataField="vrLiq"></dxi-column>
  <dxo-paging [pageSize]="10"></dxo-paging>
  <dxo-pager [showPageSizeSelector]="true" [showInfo]="true"></dxo-pager>
  <!--  <dxo-filter-row [visible]="true"></dxo-filter-row> -->
</dx-data-grid>
