<form (submit)="onFormSubmit($event)">
  <div class="dx-fieldset">
    <div class="dx-fieldset-header">Cadastro de uma Nova lista de Produtos</div>
    <div class="dx-field">
      <div class="dx-field-label">Descrição</div>
      <div class="dx-field-value">
        <dx-text-box
          [(value)]="carrinho.descricao"
          placeholder="Descrição de Carrinho"
        >
          <dx-validator>
            <dxi-validation-rule
              type="required"
              message="Descrição é Obrigatória"
            ></dxi-validation-rule>
          </dx-validator>
        </dx-text-box>
      </div>
    </div>
    <div class="dx-field">
      <div class="dx-field-label">Produtos</div>
      <div class="dx-field-value">
        <dx-tag-box #targetDataGrid
          valueExpr="id"
          [searchEnabled]="true"
          [dataSource]="produtos"
          label="Selecione"
          (onSelectionChanged)="onValueChanged($event)"
          displayExpr="descricao"
          [showSelectionControls]="true"
          applyValueMode="useButtons"
        >
        </dx-tag-box>
      </div>
    </div>
  </div>
  <div class="dx-fieldset">
    <dx-button
      id="button"
      text="Voltar"
      type="alert"
      (onClick)="voltar()"
      [useSubmitBehavior]="false"
    >
    </dx-button>
    <!-- <dx-button
      id="button"
      text="Apagar Tudo"
      type="normal"
      (onClick)="resetCarrinho()"
      [useSubmitBehavior]="false"
    >
    </dx-button> -->
    <dx-button
      id="button"
      text="Salvar"
      type="success"
      [useSubmitBehavior]="true"
    >
    </dx-button>
  </div>
</form>
