<form (submit)="onFormSubmit($event)">
  <div class="dx-fieldset">
    <div class="dx-fieldset-header">Cadastro de um Produto</div>

    <div class="dx-field">
      <div class="dx-field-label">Descrição</div>
      <div class="dx-field-value">
        <dx-text-area
          [height]="100"
          [(value)]="produto.descricao"
          placeholder="Descrição de Carrinho"
        >
          <dx-validator>
            <dxi-validation-rule
              type="required"
              message="Descrição é Obrigatória"
            ></dxi-validation-rule>
          </dx-validator>
        </dx-text-area>
      </div>
    </div>

    <div class="dx-field">
      <div class="dx-field-label">Vr Bruto</div>
      <dx-number-box
        format="R$ #,##0.##"
        [(value)]="produto.vrBruto"
        (change)="onChangeCalc()"
        placeholder="Vr Bruto"
      >
      </dx-number-box>
    </div>

    <div class="dx-field">
      <div class="dx-field-label">Vr Desc</div>
      <dx-number-box
        format="R$ #,##0.##"
        [(value)]="produto.vrDesc"
        (change)="onChangeCalc()"
        placeholder="Vr Desc"
      >
      </dx-number-box>
    </div>

    <div class="dx-field">
      <div class="dx-field-label">Vr. Líq</div>
      <dx-number-box
        format="R$ #,##0.##"
        [disabled]="true"
        [(value)]="produto.vrLiq"
        placeholder="Vr Líq"
      >
      </dx-number-box>
    </div>
  </div>

  <div class="dx-fieldset">
    <dx-button
      id="button"
      text="Voltar"
      type="normal"
      (onClick)="voltar()"
      [useSubmitBehavior]="false"
    >
    </dx-button>
    <dx-button
      id="button"
      text="Salvar"
      type="success"
      [useSubmitBehavior]="true"
    >
    </dx-button>
  </div>
</form>
