<div><h2 class="content-block">Listas de Carrinhos de Produtos</h2></div>
<div class="dx-fieldset">
  <dx-button
    width="25%"
    id="button"
    text="Novo"
    type="normal"
    (onClick)="redirectCreate()"
    [useSubmitBehavior]="true"
  >
  </dx-button>
</div>
<dx-data-grid
  class="dx-card wide-card"
  [dataSource]="dataSource"
>
  <dxo-editing
    mode="form"
    [allowUpdating]="true"
    [allowAdding]="false"
    [allowDeleting]="true"
  >
  </dxo-editing>
  <dxi-column caption="ID" dataField="id" [hidingPriority]="1"> </dxi-column>
  <dxi-column caption="Descrição" dataField="descricao" [hidingPriority]="2">
  </dxi-column>
  <dxi-column
    dataField="produtos"
    caption="Produtos"
    [visible]="false"
    [allowSorting]="false"
    editCellTemplate="tagBoxEditor"
    displayExpr="descricao"
    [hidingPriority]="3"
  >
    <dxo-lookup
      [dataSource]="produtos"
      displayExpr="descricao"
      valueExpr="descricao"
    ></dxo-lookup>
  </dxi-column>
  <!--  <dxo-filter-row [visible]="true"></dxo-filter-row> -->
  <div *dxTemplate="let cellInfo of 'tagBoxEditor'">
    <dx-tag-box
      [dataSource]="produtos"
      [value]="cellInfo.value"
      displayExpr="descricao"
      [showSelectionControls]="true"
      [maxDisplayedTags]="3"
      [showMultiTagOnly]="false"
      label="Selecione"
      applyValueMode="useButtons"
      [searchEnabled]="true"
      (onValueChanged)="cellInfo.setValue($event.value)"
      (onSelectionChanged)="cellInfo.component.updateDimensions()"
    >
    </dx-tag-box>
  </div>
  <dxo-paging [pageSize]="10"></dxo-paging>
  <dxo-pager [showPageSizeSelector]="true" [showInfo]="true"></dxo-pager>
</dx-data-grid>
